*{
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right,rgb(221, 81, 221),rgb(68, 68, 210)) no-repeat center fixed;
    background-color: rgba(255, 255, 255, 0.12);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.calculator{
    border: 2px solid transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.599);
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
}

input{
    border: none;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    width: 280px;
    text-align: right;
    box-shadow: 0 0px 4px rgb(232, 232, 232);
    background: transparent;            border-radius: 10px;
    cursor: pointer;
    color: white;
}

input::placeholder{
    color: white;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 2px white;
    cursor: pointer;
}

.operator{
    color: orange;
}

.equal{
    background-color: orange;
    transition: .42s;
}

.equal:hover{
    color: orange;
    background-color: white;
}
